<h1>Sites</h1>
<% if @sites.present? %>
  <table class="table table-striped">
    <tr>
    <td class="col-md-1">Number</td>
    <td class="col-md-11">Host</td>
    </tr>
    <% Array(@sites).each.with_index(1) do |site, index| %>
    <tr>
      <td><%=index%></td>
      <td><%=site.top_url%></td>
    </tr>
    <% end %>
  </table>
<% else %>
  <%= "No sites yet" %>
<% end %>
